#bod {
  background-color: #66BDB3;
  min-height: 100%;
  height: 100%;
  align-items: center;
}

.container-full {
  margin-top: 5%;
}

.container-div {
  width: 100%;
  text-align: center;
  align-content: center;
}

.carousel-content {
    display:flex;
    align-items:center;
}

.carousel-indicators {
  margin-bottom: 0px;
}
.question {
  color:#244761;
  font-family: "Amatic SC", Helvetica, Arial, sans-serif;
  font-size: 450%;
  align-items: center;
  text-align: center
}

.options{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

.options .button{
  width: 30%;
  height: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  background-color: snow;
  border-color: transparent;
  color: black;
  margin: 1%;
  border-radius: 10%;
}

.button-clicked {
  color: blue;
}

.item {
  height: 100%;
}


#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

#myCarousel {
  height: 100%;
  align-items: center;
  margin-left: auto;
  margin-right:auto;
  margin-top: 5%;
}

#question-title {
  text-align: center;
  font-family: "Amatic SC", Helvetica, Arial, sans-serif;
  font-size: 800%;  
}
#done-text {
  /* text-align: center; */
  font-family: "Amatic SC", Helvetica, Arial, sans-serif;
  font-size: 400%;  
  margin-left: 37%;
}


.selected-answer {
  background-color: slateblue;
}

.navbar {
  background-color: black;
}
.navbar-brand {
  padding: 0px;
}

.navbar-brand>img {
  height: 100%;
  padding: 7px 15px;
  width: auto;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  font-weight: 600;
  font-family: sans-serif;
}

.navbar-default .navbar-nav>li>a:hover{
    color: #FCCE27;
}

.navbar-default .navbar-nav>li>a:focus {
  color: #ffffff;
}


.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: white;
  background-color: #000000;
}


.fade {
  transition: all 0.4s ease-out;
  opacity: 1;
  -webkit-transition: fadeInFromNone .15s linear;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: fadeInFromNone 0.5s linear;
  -o-animation: fadeInFromNone 0.5s linear;
  font-family: 'Montserrat', sans-serif;
 }

@-webkit-keyframes fadeInFromNone {
  0% {
      opacity: 0;
  }

  1% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}


@-moz-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}